body{
  font-family: 'Varela Round', sans-serif;
  margin: 0 auto;
  background-color: cadetblue;
}
.hide{
  display: none;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  width: 100vw;
  margin: 0 auto;
  background-color: cadetblue;
  height: 100vh;
}
.start__disappear{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}
.fas{
  font-size: 5rem;
  color:#d44000;
}
.container h1{
  text-align: center;
  color: antiquewhite;

}
.show, .start, .next{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  border-radius: 15px;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
}
.question__container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: bisque;
  font-size: 1.5rem;
}
.next{
  margin-top: 1rem;
}
.question{
  margin-bottom: 1rem;
}
.answer{
  margin-bottom: 1rem;
  color: #2f5d62;
}